* {
	box-sizing: border-box;
}

body {
	margin: 2em auto;
	max-width: 375px;
	background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: #fff;
	height: 100vh;
}

h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
	line-height: .8;
}

p {
	margin: 0;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 3px solid  hsl(217, 16%, 45%);
	border-radius: 5px;
	margin: 0 auto;
	padding: .75em 1em;
	width: 80%;
}

.score-container {
	background: #fff;
	color: hsl(229, 25%, 31%);
	padding: 0.5em 1.75em;
	border-radius: 5px;
}

.score-text {
	font-size: .8rem;
}

.score {
	font-size: 2.5rem;
	text-align: center;
	line-height: .7;
}

.triangle {
	position: relative;
	margin: 7em auto;
	width: 65%;
	height: 200px;
	background-image: url("./images/bg-triangle.svg");
	background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.rock,
.paper,
.scissors {
	position: absolute;
	width: 25px;
	height: 25px;
	
}

.hand {
	background: #fff;
	height: 100px;
	width: 100px;
	padding: 1.5em;
	border-radius: 50%;
}

.rock {
	bottom: -40px;
	right: 70px;
	border: 10px solid hsl(349, 71%, 52%);
}

.scissors {
	top: -40px;
	right: -20px;
	border: 7px solid hsl(39, 89%, 49%);
}

.paper {
	top: -40px;
	left: -20px;
	border: 7px solid hsl(230, 89%, 62%);
}

.btn {
	padding: .75em 1.75em;
	border: none;
	display: block;
	margin: 2em auto;
	border-radius: 5px;
	border: 2px solid hsl(217, 16%, 45%);
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-size: .75em;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  cursor: pointer;
	text-align: center;
}

.rules {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.rules-title {
	color: hsl(229, 25%, 31%);
	padding-bottom: 3em;
	font-size: 1.75rem;
}

.rules-img {
	margin-bottom: 10em;
}

.rules-btn {
	font-size: 2em;
	border: none;
	background: none;
	color: hsl(229, 25%, 31%);
}

/* USER SELECTED */

.game {
	display: flex;
	justify-content: space-between;
	margin: 5em auto 12em auto;
	width: 70%;
	text-align: center;
}

.chosen,
.random {
	margin-bottom: .7em;
}

.chosen {
	position: static;
}

.game-text {
	font-size: .75rem;
	font-weight: 500;
	text-transform: uppercase;
}

.random {
	position: static;
}